body {
	margin: 0;	
	background-size:cover;
	 background-repeat: no-repeat;
    background-attachment: fixed;

}

body:hover {
	cursor:pointer;
}

#top .links {
	position:relative;
	vertical-align:top;
	top:0;
	display:inline-block;
	height:70px;
	left:40px;
	overflow:hidden;
	width:520px;
}



#top ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
#top ul li {
	margin:0;
	padding:0;

	display:inline-block;
	width:140px;
	line-height:70px;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	color:white;
	margin-right:-17px;
	transition: .2s all;
	-webkit-clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);
}

#top ul li:nth-child(1) { background-color: rgb(185,65,0); } 
#top ul li:nth-child(2) { background-color: rgb(200,80,0); } 
#top ul li:nth-child(3) { background-color: rgb(215,95,0); } 
#top ul li:nth-child(4) { background-color: rgb(230,110,0); } 
#top ul: hover {
	cursor:pointer;

}
#top ul li .inner:hover { cursor:pointer; }
#top ul li:nth-child(1):hover { background-color: rgb(155,55,0) ; }
#top ul li:nth-child(2):hover { background-color: rgb(175,65,0) ; }
#top ul li:nth-child(3):hover { background-color: rgb(195,75,0) ; }
#top ul li:nth-child(4):hover { background-color: rgb(205,85,0) ; }

/* inner */
#top ul li .inner {
	-webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 1% 100%);
	clip-path: polygon(10% 0, 100% 0, 100% 100%, 1% 100%);
	overflow:hidden;
	z-index:100;
}

